.photo= image_tag("http://farm#{ @photo.farm }.static.flickr.com/#{ @photo.server }/#{ @photo.id }_#{ @photo.secret }.jpg")

#map_pin

%div.form
  - form_tag(tag_path(@photo.id), :method => :put) do
    %p
      = label_tag :ph, "pH:"
      %input(id="ph" name="ph" type="range" min="1.1" max="9" step="0.1" value="7.5")
      %span.range-value 7.5
    %p
      = label_tag :texture, "Texture:"
      = text_field_tag :texture
    %p
      = label_tag :colour, "Colour:"
      = text_field_tag :colour
    %p
      = submit_tag "Tag me!"
      
:javascript
  var cloudmade = new CM.Tiles.CloudMade.Web({key: '#{ENV["CLOUDMADE_KEY"]}'});
  var map = new CM.Map('map_pin', cloudmade);

  var myMarkerLatLng = new CM.LatLng(#{ @photo.location.latitude }, #{ @photo.location.longitude });
  var myMarker = new CM.Marker(myMarkerLatLng, {
    title: "#{ @photo.title }"
  });
      
  map.setCenter(myMarkerLatLng, 14);
  map.addOverlay(myMarker);

  $('input#ph').change(function() { $('span.range-value').text($('input#ph').attr('value')) });