#map

- if @geotagged_photos.size > 0
  %h2 Choose a photo to tag

  - @geotagged_photos.each do |photo|
    %p.thumbnail
      = link_to(image_tag("http://farm#{ photo.farm }.static.flickr.com/#{ photo.server }/#{ photo.id }_#{ photo.secret }_s.jpg"), tag_path(photo.id))
- unless @geotagged_photos.size > 0
  %p You need to #{link_to "Authorise us on Flickr", authorize_path}

:javascript
  var cloudmade = new CM.Tiles.CloudMade.Web({key: '#{ENV["CLOUDMADE_KEY"]}'});
  var map = new CM.Map('map', cloudmade);
  map.setCenter(new CM.LatLng(50, 30), 5);

