#map

- if authorized_user?
  %h2 Choose a photo to tag

  - @geotagged_photos.each do |photo|
    %p.thumbnail
      = link_to(image_tag("http://farm#{ photo.farm }.static.flickr.com/#{ photo.server }/#{ photo.id }_#{ photo.secret }_s.jpg"), tag_path(photo.id))
- unless authorized_user?
  %h2 Add your own photos?
  %p.vspace To add your own photos, first #{link_to "link your Flickr account", @auth_url}.

:javascript
  var cloudmade = new CM.Tiles.CloudMade.Web({key: '#{ENV["CLOUDMADE_KEY"]}'});
  var map = new CM.Map('map', cloudmade);
  map.setCenter(new CM.LatLng(50, 30), 5);
