#map

- if authorized_user?
  %h2 Choose a photo to tag

  - @geotagged_photos.each do |photo|
    %p.thumbnail
      = link_to(image_tag("http://farm#{ photo.farm }.static.flickr.com/#{ photo.server }/#{ photo.id }_#{ photo.secret }_s.jpg"), tag_path(photo.id))
- unless authorized_user?
  %p You need to #{link_to "Authorise us on Flickr", authorize_path}

:javascript
  var cloudmade = new CM.Tiles.CloudMade.Web({key: '#{ENV["CLOUDMADE_KEY"]}'});
  var map = new CM.Map('map', cloudmade);
  var dirt_kml = new CM.GeoXml('#{overlay_url(:format => :kml)}');
  
  CM.Event.addListener(dirt_kml, 'load', function() {
  map.zoomToBounds(dirt_kml.getDefaultBounds());
  map.addOverlay(dirt_kml);
  });
